@import './kinetic_heavy';
@import './kinetic_stretchy';
@import './kinetic_panes';

.costra .kinetic{
    perspective: 1000px;
	color: white;
	line-height: 0.35;

    .block1{
        text-align: left;
        width: fit-content;
    }

    .kc{
        position: relative;
    }

    &.template-1{
        .background{
            background-color: #00C2CE;
            transform-origin: 50% 100%;
            transform-style: preserve-3d;
        }
        .kc{
            line-height: 0.65;
            text-transform: uppercase;
        }
        .kc-0{
            transform-origin: 0 0;
            color: #FBFF01;
            font-size: 62px;
        }
        .kc-1{
            font-size: 80px;
        }
        .kc-2{
            transform-origin: 0 100%;
            color: #FBFF01;
            font-size: 62px;
        }
        .kc-3{
            height: 0.3rem;
            background-color: white;
            position: relative;
        }
    }

    &.template-2{
        color: #2f2f2f;
        .background{
            background-color: yellow;
            transform-origin: 50% 100%;
            transform-style: preserve-3d;
        }
        .kc{
            line-height: 0.65;
            text-transform: uppercase;
        }
        .kc-0{
            transform-origin: 0 0;
            color: #00C2CE;
            font-size: 62px;
        }
        .kc-1{
            font-size: 80px;
        }
        .kc-2{
            transform-origin: 0 100%;
            color: #00C2CE;
            font-size: 62px;
        }
        .kc-3{
            height: 0.3rem;
            background-color: #2f2f2f;
            position: relative;
        }
    }
}