.costra .kinetic.heavy-1 section {
  padding-left: 0 !important;
}

.costra .kinetic.heavy-1 .background {
  display: none;
}

.costra .kinetic.heavy-1 .block1 {
  text-align: center !important;
  margin: auto !important;
}

.costra .kinetic.heavy-1 .kc {
  color: white;
  text-align: center;
  font-size: 90px;
  text-transform: uppercase;
  opacity: 0;
}

.costra .kinetic.heavy-1 .kc-0 {
  margin-bottom: 2rem;
  margin-top: -200px;
}

.costra .kinetic.heavy-1 .kc-1 {
  margin-top: -200px;
}

.costra .kinetic.heavy-1 .kc-2 {
  display: none !important;
}

.kinetic_heavy_body_style {
  background-color: #FFAD00;
}

.costra .kinetic.stretchy-1 section, .costra .kinetic.stretchy-2 section {
  padding-left: 0 !important;
}

.costra .kinetic.stretchy-1 .block1, .costra .kinetic.stretchy-2 .block1 {
  text-align: center;
  margin: auto;
}

.costra .kinetic.stretchy-1 .kc, .costra .kinetic.stretchy-2 .kc {
  font-size: 80px;
  margin-bottom: 2rem;
}

.costra .kinetic.stretchy-1 .kc-0, .costra .kinetic.stretchy-1 .kc-2, .costra .kinetic.stretchy-2 .kc-0, .costra .kinetic.stretchy-2 .kc-2 {
  font-weight: lighter;
}

.costra .kinetic.stretchy-1.out .block1, .costra .kinetic.stretchy-2.out .block1 {
  -webkit-transform-origin: top;
          transform-origin: top;
}

.costra .kinetic.stretchy-1.in .block1, .costra .kinetic.stretchy-2.in .block1 {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.costra .kinetic.panes-1 section, .costra .kinetic.panes-2 section, .costra .kinetic.panes-3 section {
  padding-left: 0 !important;
}

.costra .kinetic.panes-1 .block1, .costra .kinetic.panes-2 .block1, .costra .kinetic.panes-3 .block1 {
  text-align: center;
  margin: auto;
}

.costra .kinetic.panes-1 .kc, .costra .kinetic.panes-2 .kc, .costra .kinetic.panes-3 .kc {
  font-size: 80px;
  margin: 0;
}

.costra .kinetic.panes-1 .kc.kc-0, .costra .kinetic.panes-2 .kc.kc-0, .costra .kinetic.panes-3 .kc.kc-0 {
  margin: -24px 0;
}

.costra .kinetic.panes-1 .kc.kc-2, .costra .kinetic.panes-2 .kc.kc-2, .costra .kinetic.panes-3 .kc.kc-2 {
  margin: -22px 0;
}

.costra .kinetic.panes-1 .kc.kc-0, .costra .kinetic.panes-1 .kc.kc-2, .costra .kinetic.panes-2 .kc.kc-0, .costra .kinetic.panes-2 .kc.kc-2, .costra .kinetic.panes-3 .kc.kc-0, .costra .kinetic.panes-3 .kc.kc-2 {
  font-weight: lighter;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-size: 70px;
}

.costra .kinetic.panes-1 .kc.kc-1, .costra .kinetic.panes-2 .kc.kc-1, .costra .kinetic.panes-3 .kc.kc-1 {
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem 1rem;
  color: white;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.costra .kinetic.panes-1.panes-1, .costra .kinetic.panes-2.panes-1, .costra .kinetic.panes-3.panes-1 {
  color: #3ae60f;
}

.costra .kinetic.panes-1.panes-1 .kc-1, .costra .kinetic.panes-2.panes-1 .kc-1, .costra .kinetic.panes-3.panes-1 .kc-1 {
  background-color: #3ae60f;
}

.costra .kinetic.panes-1.panes-2, .costra .kinetic.panes-2.panes-2, .costra .kinetic.panes-3.panes-2 {
  color: #8500FF;
}

.costra .kinetic.panes-1.panes-2 .kc-1, .costra .kinetic.panes-2.panes-2 .kc-1, .costra .kinetic.panes-3.panes-2 .kc-1 {
  background-color: #8500FF;
}

.costra .kinetic.panes-1.panes-3, .costra .kinetic.panes-2.panes-3, .costra .kinetic.panes-3.panes-3 {
  color: #FF7E00;
}

.costra .kinetic.panes-1.panes-3 .kc-1, .costra .kinetic.panes-2.panes-3 .kc-1, .costra .kinetic.panes-3.panes-3 .kc-1 {
  background-color: #FF7E00;
}

.costra .kinetic {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  color: white;
  line-height: 0.35;
}

.costra .kinetic .block1 {
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.costra .kinetic .kc {
  position: relative;
}

.costra .kinetic.template-1 .background {
  background-color: #00C2CE;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.costra .kinetic.template-1 .kc {
  line-height: 0.65;
  text-transform: uppercase;
}

.costra .kinetic.template-1 .kc-0 {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  color: #FBFF01;
  font-size: 62px;
}

.costra .kinetic.template-1 .kc-1 {
  font-size: 80px;
}

.costra .kinetic.template-1 .kc-2 {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  color: #FBFF01;
  font-size: 62px;
}

.costra .kinetic.template-1 .kc-3 {
  height: 0.3rem;
  background-color: white;
  position: relative;
}

.costra .kinetic.template-2 {
  color: #2f2f2f;
}

.costra .kinetic.template-2 .background {
  background-color: yellow;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.costra .kinetic.template-2 .kc {
  line-height: 0.65;
  text-transform: uppercase;
}

.costra .kinetic.template-2 .kc-0 {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  color: #00C2CE;
  font-size: 62px;
}

.costra .kinetic.template-2 .kc-1 {
  font-size: 80px;
}

.costra .kinetic.template-2 .kc-2 {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  color: #00C2CE;
  font-size: 62px;
}

.costra .kinetic.template-2 .kc-3 {
  height: 0.3rem;
  background-color: #2f2f2f;
  position: relative;
}
/*# sourceMappingURL=costra_kinetic.css.map */